.navigation > a {
    margin-right: 10px;
}

.col {
    float: left;
    min-width:50px;
}

.container {
    display:inline-block;
}

.row {
    line-height:20px;
}

.book-container {
    max-width: 300px;
    border:1px dashed black;
    background-color:yellow;
    color:tomato;
    line-height:20px;
    margin-bottom:20px;
    padding-left:10px;
}